ion-content::part(background) {
  background: #0f4e7d;
}

ion-back-button {
  color: #f8f6e7;
}

// Configured for Oppo A5 2020
.weight {
  position: absolute;
  color: black;
  font-size: 1em;
  font-family: "NyataRegular";
  line-height: 1.2;
  width: 100px;
  top: 20.5%;
  left: 46%;
}

.fact {
  position: absolute;
  color: black;
  font-size: 0.55em;
  width: 100px;
  top: 42%;
  left: 15%;
}

.tip {
  position: absolute;
  color: black;
  font-size: 0.40em;
  width: 110px;
  top: 53.5%;
  left: 53%;
}