ion-content::part(background) {
  background: #0f4e7d;
}

ion-back-button {
  color: #f8f6e7;
}

.weight,
.fact,
.tip {
  position: absolute;
  color: #0f4e7d;
  font-family: "NyataRegular", "sans-serif";
}

// Configured for Oppo A5 2020
.weight {
  font-size: 1em;
  line-height: 1.05;
  width: 100px;
  top: 20.25%;
  left: 46%;
}

#numValueWeight {
  font-family: "Abyss", "sans-serif";
  font-size: 1.5em;
}

.fact {
  font-size: 0.6em;
  width: 100px;
  top: 41.5%;
  left: 15%;
}

.tip {
  font-size: 0.40em;
  width: 110px;
  top: 53%;
  left: 53%;
}
