<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <ion-icon name="fast-food-outline"></ion-icon> Crumbster
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <ion-grid style="height: 100%; width:100%">
    <ion-row class="ion-align-items-center ion-justify-content-center ion-padding">
      <ion-button class="styled-button" size="large" shape="round" (click)="callGetApi()">
        Get Data
      </ion-button>
    </ion-row>
    <ion-row class="ion-padding">
      <div *ngIf="obtainedData !== undefined; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>{{obtainedData.fact || obtainedData.tip}}.</ng-template>
      <ng-template #elseBlock>Nothing to show</ng-template>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-textarea [(ngModel)]="token"></ion-textarea>
    </ion-row>
  </ion-grid>
</ion-content>