<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <ion-icon name="fast-food-outline"></ion-icon> Crumbster
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <ion-grid style="height: 100%;" size="6">
    <ion-row class="ion-align-items-center ion-justify-content-center ion-padding">
      <ion-button size="large" shape="round" (click)="callGetApi()">
        Get Data
      </ion-button>
    </ion-row>
    <ion-row class="ion-padding ion-justify-content-center">
      <div *ngIf="factsOrTips !== undefined; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>{{factsOrTips}}</ng-template>
      <ng-template #elseBlock>Data is currently unavailable.</ng-template>
    </ion-row>
    <ion-row class="ion-padding ion-justify-content-center">
      <div *ngIf="weight !== undefined; then thenBlock2 else elseBlock2"></div>
      <ng-template #thenBlock2>The amount of food waste you have today is {{weight}} grams</ng-template>
      <ng-template #elseBlock2></ng-template>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-textarea [(ngModel)]="token"></ion-textarea>
    </ion-row>
  </ion-grid>
</ion-content>