#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

// CSS custom properties; Only configured for mobile
ion-content::part(background) {
  background: #0f4e7d;
}

#homeTopText {
  font-family: "NyataRegular";
  color: #ff9520;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-size: 1.2em;
}

#buttonLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -50%);
  font-family: "NyataRegular";
  color: #f8f6e7;
  letter-spacing: 1.5px;
  font-size: 1.2em;
  width: 200px;
}

.buttonContainer:hover,
.buttonContainer:active {
  opacity: 0.8;
  transition: 0.25s ease;
}

.alert {
  position: absolute;
  top: 0px;
}

#alertBanner {
  width: 101%;
  left: -2px;
}

#closeIcon {
  width: 40px;
}

/* Vertical mode */
@media screen and (hover:none) and (max-width:576px) {
  .content {
    padding-top: 30%;
    padding-bottom: 30%;
  }

  #alertBanner {
    object-fit: cover;
    transform: scale(1) translate(0, -15%);
  }
}

/* Horizontal mode */
@media screen and (hover:none) and (min-width:577px) and (max-width:992px) {
  #alertBanner {
    position: absolute;
    top: 0%;
    width: 101%;
    object-fit: cover;
    transform: scale(1) translate(0, -55%);
  }

  .content {
    padding-top: 35%;
    padding-bottom: 35%
  }

  #buttonLabel {
    font-size: 0.8em;
    width: 150px;
    transform: translate(-48%, -50%);
  }

  #closeIcon {
    top: 10%;
    left: 90%;
  }
}