<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <ion-icon name="fast-food-outline"></ion-icon> Crumbster
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <ion-grid style="height: 100%;" size="6">
    <ion-row class="ion-align-items-center ion-justify-content-center ion-padding">
      <ion-button size="large" shape="round" [routerLink]="['./', 'report']">
        Get Data
      </ion-button>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-textarea [(ngModel)]="token"></ion-textarea>
    </ion-row>
  </ion-grid>
</ion-content>